/* line 1, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #222;
  text-align: center;
  list-style-type: none; }

/* line 49, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
h3 {
  font-size: 40px;
  font-weight: 200;
  padding: 20px 0; }

/* line 54, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
h6 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  margin: 1% 0; }

/* line 60, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
p {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  max-width: 700px;
  margin: 1% 0; }

/* line 72, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
body {
  overflow-x: hidden;
  background: #fff;
  height: 100%;
  width: 100%; }

/* line 79, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
section {
  position: relative;
  height: auto;
  width: 100%;
  padding-bottom: 3%; }

/* line 86, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
#navigation {
  position: fixed;
  width: 150px;
  left: 0;
  height: 100%;
  padding-top: 20vh;
  background: #00346F; }
  /* line 93, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  #navigation li:first-child {
    border-top: 1px solid rgba(0, 74, 159, 0.5); }
  /* line 96, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  #navigation a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    line-height: 70px;
    border-bottom: 1px solid rgba(0, 74, 159, 0.5);
    text-transform: capitalize;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff; }
    /* line 105, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    #navigation a:hover {
      background: #591800; }

/* line 112, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
#wrap-all {
  background: #fff;
  height: auto;
  width: 100%;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px 1px #111; }
  /* line 118, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  #wrap-all.slide {
    margin-left: 150px; }

/* line 123, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
header {
  position: fixed;
  z-index: 2;
  background: blue;
  height: auto;
  width: auto;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  /* line 130, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  header.slide {
    margin-left: 150px; }
  /* line 133, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  header #hamburger {
    position: absolute;
    display: block;
    height: 59px;
    width: 60px;
    margin: 30px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #00346F;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2); }
    /* line 145, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    header #hamburger span {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: 5px;
      width: 40px;
      background: #fff;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
      /* line 159, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
      header #hamburger span:nth-child(1) {
        top: 10px; }
      /* line 162, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
      header #hamburger span:nth-child(2) {
        top: 27px; }
      /* line 165, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
      header #hamburger span:nth-child(3) {
        top: 44px; }
    /* line 170, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    header #hamburger.open span:nth-child(1) {
      top: 27px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    /* line 174, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    header #hamburger.open span:nth-child(2) {
      opacity: 0;
      left: -300px; }
    /* line 178, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    header #hamburger.open span:nth-child(3) {
      top: 27px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }

/* line 185, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
#home {
  height: 100%; }
  /* line 187, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  #home #background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(img/bg.jpg);
    background-size: cover; }
  /* line 197, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  #home #cubewrapper {
    position: absolute;
    width: 500px;
    left: 0;
    right: 0;
    margin: 18% auto;
    display: block;
    perspective: 2000px; }
    /* line 205, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    #home #cubewrapper .cube {
      position: absolute;
      color: #fff;
      height: 100px;
      width: 500px;
      line-height: 100px;
      font-size: 40px;
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
      border: 2px solid #fff;
      background: rgba(255, 255, 255, 0.1); }
    /* line 216, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    #home #cubewrapper .c1 {
      -webkit-transform: rotateX(0deg) translateZ(50px);
      -moz-transform: rotateX(0deg) translateZ(50px);
      -ms-transform: rotateX(0deg) translateZ(50px);
      -o-transform: rotateX(0deg) translateZ(50px);
      transform: rotateX(0deg) translateZ(50px);
      opacity: 1; }
    /* line 220, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    #home #cubewrapper .c2 {
      -webkit-transform: rotateX(270deg) translateZ(50px);
      -moz-transform: rotateX(270deg) translateZ(50px);
      -ms-transform: rotateX(270deg) translateZ(50px);
      -o-transform: rotateX(270deg) translateZ(50px);
      transform: rotateX(270deg) translateZ(50px);
      opacity: 0; }
    /* line 224, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    #home #cubewrapper .c3 {
      -webkit-transform: rotateX(180deg) translateZ(50px);
      -moz-transform: rotateX(180deg) translateZ(50px);
      -ms-transform: rotateX(180deg) translateZ(50px);
      -o-transform: rotateX(180deg) translateZ(50px);
      transform: rotateX(180deg) translateZ(50px);
      opacity: 0; }
    /* line 228, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    #home #cubewrapper .c4 {
      -webkit-transform: rotateX(90deg) translateZ(50px);
      -moz-transform: rotateX(90deg) translateZ(50px);
      -ms-transform: rotateX(90deg) translateZ(50px);
      -o-transform: rotateX(90deg) translateZ(50px);
      transform: rotateX(90deg) translateZ(50px);
      opacity: 0; }
  /* line 233, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  #home #subTitles {
    position: relative;
    top: 43%; }
    /* line 237, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    #home #subTitles .subTitle {
      color: #fff;
      font-size: 30px;
      opacity: 0;
      width: 100%;
      position: absolute; }
  /* line 245, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  #home .scroll {
    background: #591800;
    position: absolute;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    top: 70vh;
    color: #fff;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    border-bottom: 3px solid #401100;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer; }
    /* line 262, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    #home .scroll:hover {
      background: #401100; }

/* line 268, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
#portfolio {
  padding: 2% 0;
  padding-bottom: 6%; }
  /* line 271, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  #portfolio ul {
    position: relative;
    margin: 20px auto; }
    /* line 274, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    #portfolio ul li {
      display: inline-block;
      vertical-align: top; }
      /* line 277, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
      #portfolio ul li .picture {
        display: block;
        max-height: 300px;
        max-width: 400px;
        width: 30vw;
        height: 40vh; }
        /* line 283, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
        #portfolio ul li .picture:hover > .description {
          height: 100%; }
          /* line 285, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
          #portfolio ul li .picture:hover > .description > .button {
            opacity: 1; }
        /* line 290, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
        #portfolio ul li .picture .description {
          height: 0;
          background: rgba(0, 74, 159, 0.7);
          -webkit-transform: translateZ(0);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          /* line 294, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
          #portfolio ul li .picture .description .button {
            color: #fff;
            background: #591800;
            width: 150px;
            height: 50px;
            line-height: 50px;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 125px;
            opacity: 0;
            -webkit-transform: translateZ(0);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            text-decoration: none;
            border-bottom: 3px solid #401100; }
            /* line 310, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
            #portfolio ul li .picture .description .button:hover {
              background: #401100; }
      /* line 316, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
      #portfolio ul li .BB {
        background: url(img/portfolio/BatteredBunny/Desktop.PNG) no-repeat center;
        background-size: cover; }
      /* line 320, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
      #portfolio ul li .RR {
        background: url(img/portfolio/RateMyRAs/RateMyRAs.PNG) no-repeat center;
        background-size: cover; }
      /* line 324, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
      #portfolio ul li .SG {
        background: url(img/portfolio/AmericanCat/desktop.PNG) no-repeat center;
        background-size: cover; }

/* line 335, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
#about #selfie {
  background: url(img/selfie.png) no-repeat center -20vh;
  background-size: cover;
  height: 50%;
  width: 100%;
  position: relative; }
/* line 342, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
#about p {
  margin: 1% auto; }

/* line 346, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
#contact {
  background: #004a9f; }
  /* line 349, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  #contact h3 {
    color: #fff; }
  /* line 353, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
  #contact .contact {
    position: relative;
    width: 49%;
    display: inline-block;
    padding: 0 4px;
    vertical-align: top; }
    /* line 359, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    #contact .contact h6 {
      text-align: right;
      color: #fff; }
    /* line 363, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
    #contact .contact a {
      display: block;
      text-align: left;
      color: #fff;
      font-weight: 200;
      line-height: 30px;
      font-size: 18px;
      max-width: 700px;
      margin: 1% 0; }
      /* line 372, C:/Users/Zach/Google Drive/NewCompDesigns/New Design/main.scss */
      #contact .contact a:last-of-type {
        pointer-events: none;
        cursor: default;
        text-decoration: none; }

/*# sourceMappingURL=main.css.map */