*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #222;
    text-align: center;
    list-style-type: none;
}

@mixin transition($seconds) {
    -webkit-transform: translateZ(0);
    -webkit-transition: all $seconds ease;
    -moz-transition: all $seconds ease;
    -ms-transition: all $seconds ease;
    -o-transition: all $seconds ease;
    transition: all $seconds ease;
}
@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}
@mixin rotateX($deg,$px) {
    -webkit-transform: rotateX($deg) translateZ($px);
    -moz-transform: rotateX($deg) translateZ($px);
    -ms-transform: rotateX($deg) translateZ($px);
    -o-transform: rotateX($deg) translateZ($px);
    transform: rotateX($deg) translateZ($px);
}
@mixin translateZ($px) {
    -webkit-transform: translateZ($px);
    -moz-transform: translateZ($px);
    -ms-transform: translateZ($px);
    -o-transform: translateZ($px);
    transform: translateZ($px);
}

$secondary-color: #401100;
$primary-color: #591800;
$third-color: #00346F;

h3 {
    font-size: 40px;
    font-weight: 200;
    padding: 20px 0;
}
h6 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin: 1% 0;
}
p {
    text-align: left;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    max-width: 700px;
    margin: 1% 0;
}




body {
    overflow-x: hidden;
    background: #fff;
    height: 100%;
    width: 100%;
}

section {
    position: relative;
    height: auto;
    width: 100%;
    padding-bottom: 3%;
}

#navigation {
    position: fixed;
    width: 150px;
    left: 0;
    height: 100%;
    padding-top: 20%;
    background: $third-color;
    li:first-child {
        border-top: 1px solid rgba(0,74,159,0.5);  
    }
    a {
        display: block;
        font-size: 18px;
        text-decoration: none;
        line-height: 70px;
        border-bottom: 1px solid rgba(0,74,159,0.5);
        text-transform: capitalize;
        @include transition(.3s);
        color: #fff;
        &:hover {
            background: $primary-color; 
        }
        
    }
}

#wrap-all {
    background: #fff;
    height: auto;
    width: 100%;
    @include transition(.3s);
    box-shadow: 0 0 10px 1px #111;
    &.slide {
        margin-left: 150px;
    }
}

header {
    position: fixed;
    z-index: 2;
    height: auto;
    width: auto;
    @include transition(0.5s);
    &.slide {
        margin-left: 150px;
    }
    #hamburger {
        position: absolute;
        display: block;
        height: 59px;
        width: 60px;
        margin: 30px;
        cursor: pointer;
        @include rotate(0deg);
        @include transition(0.5s);
        background: $third-color;
//        background: transparent;
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
        span {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            height: 5px;
            width: 40px;
            background: #fff;
            opacity: 1;
            left: 0;
            @include rotate(0deg);
            @include transition(0.35s);
            &:nth-child(1) {
                top: 10px;
            }
            &:nth-child(2) {
                top: 27px;
            }
            &:nth-child(3) {
                top: 44px;
            }
        }
        &.open span{
            &:nth-child(1){
                top: 27px;
                @include rotate(135deg);
            }
            &:nth-child(2){
                opacity: 0;
                left: -300px;
            }
            &:nth-child(3){
                top: 27px;
                @include rotate(-135deg);
            }
        }
    }
}
#home {
    height: 100%;
    #background {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: url(img/bg.jpg);
        background-size: cover;
//        filter: grayscale(100%);
//        -webkit-filter: grayscale(100%);
    }
    #cubewrapper {
        position: absolute;
        width: 80%;
        left: 0;
        right: 0;
        margin: 18% auto;
        margin-top: 35%;
        display: block;
        perspective: 2000px;
        .cube {
            position: absolute;
            color: #fff;
            height: 100px;
            width: 100%;
            line-height: 100px;
            font-size: 6vmin;
            @include transition(.7s);
            border: 2px solid #fff;
            background: rgba(255,255,255,0.1);
        }
        .c1 {
            @include rotateX(0deg,50px);
            opacity: 1;
        }
        .c2 {
            @include rotateX(270deg,50px);
            opacity: 0;
        }
        .c3 {
            @include rotateX(180deg,50px);
            opacity: 0;
        }
        .c4 {
            @include rotateX(90deg,50px);
            opacity: 0;
        }
    }
    #subTitles {
        position: relative;
        top: 40%;

        .subTitle {
            color: #fff;
            font-size: 4vmin;
            opacity: 0;
            width: 100%;
            position: absolute;
        }
    }
    .scroll {
        background: $primary-color;
        position: absolute;
        width: 150px;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        top: 70%;
        color: #fff;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        opacity: 0;
        border-bottom: 3px solid $secondary-color;
        @include transition(0.3s);
        cursor: pointer;
        &:hover {
            background: $secondary-color;  
        }
    }
}

#portfolio {
    padding: 2% 0;
    padding-bottom: 6%;
    ul {
        position: relative;
        margin: 20px auto;
        li {
            display: block;
            vertical-align: top;
            .picture {
                display: block;
                width: 80%;
                height: 40%;
                margin: 0 10%;
                &:hover > .description {
                    height: 100%;
                    & > .button {
                        opacity: 1;
                    }
                
                }
                .description {
                    height: 0;
                    background: rgba(0,74,159,0.7);
                    @include transition(0.5s);
                    .button {
                        color: #fff;
                        background: $primary-color;
                        width: 150px;
                        height: 50px;
                        line-height: 50px;
                        position: absolute;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        top: 40%;
                        opacity: 0;
                        @include transition(0.5s);
                        text-decoration: none;
                        border-bottom: 3px solid $secondary-color;
                        &:hover {
                            background: $secondary-color;  
                        }
                    }
                }
            }
            .BB {
                background: url(img/portfolio/BatteredBunny/Desktop.PNG) no-repeat center;
                background-size: cover;
            }
            .RR {
                background: url(img/portfolio/RateMyRAs/RateMyRAs.PNG) no-repeat center;
                background-size: cover;
            }
            .SG {
                background: url(img/portfolio/AmericanCat/desktop.PNG) no-repeat center;
                background-size: cover;
                
            }
        }
    }
}

#about {
    
    #selfie {
        background: url(img/selfie.png) no-repeat center top;
        background-size: cover;
        height: 50%;
        width: 100%;
        position: relative;
    }
    p {
        margin: 1% auto;
        width: 90%;
        font-size: 16px;
    }
}
#contact {
    background: rgba(0,74,159,1);
    
    h3 {
        color: #fff;
        
    }
    .contact {
        position: relative;
        width: 100%;
        display: inline-block;
        padding: 0 4px;
        text-align: center;
        &:first-of-type {
            display: none;   
        }
        h6 {
            text-align: right;
            color: #fff;
        }
        a {
            display: block;
            color: #fff;
            font-weight: 200;
            line-height: 50px;
            font-size: 18px;
            max-width: 700px;
            margin: 1% 0;
        }
    }
}
